venv/
src/audio/*
src/.env
.vscode/
.DS_Store
.cache*
**.csv
**.log

# Ignore all __pycache__ directories recursively
**/__pycache__/*

# Ignore all compiled Python files recursively
**/*.py[cod]
**/*$py.class
