<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-music-note-beamed me-2"></i>3M-RS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <i class="bi bi-house me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/eternero/capstone-MRA" target="_blank">
                        <i class="bi bi-github me-1"></i>GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://eternero.github.io" target="_blank">
                        <i class="bi bi-person-circle me-1"></i>About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>